%% -*- erlang -*-
{minimum_otp_vsn, "27.0"}.
{erl_opts, [debug_info]}.
{deps, []}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls
              ,undefined_functions
              ,locals_not_used
%%            ,exports_not_used %% needs '-ignore_xref({F,Arity})' directives
              ,deprecated_function_calls
              ,deprecated_functions]}.

{profiles,
 [ {test, [ {cover_enabled, true}
	  , {cover_opts, [verbose]}
          ]}
 ]}.
